* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cointainer::after {
    content: "";
    clear: both;
    display: table;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
    url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-bold.woff 2') format('woff2'),
    url('../fonts/raleway-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/light/raleway-light.woff2') format('woff2'),
    url('../fonts/light/raleway-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-extralight.woff2') format('woff2'),
    url('../fonts/raleway-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-medium.woff2') format('woff2'),
    url('../fonts/raleway-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-semibold.woff2') format('woff2'),
    url('../fonts/raleway-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'raleway', sans-serif;
}


.cointainer {
    margin: 0 auto;
    width: 1050px;
    /*border: 1px solid red;*/
}

/*---------------------------------------------------------------
   główne sekcje
 --------------------------------------------------------------*/
/*---------------------------------------------------------------
   site-header
 --------------------------------------------------------------*/

.site-header {
    background-color: black;
    padding: 10px 0;
    width: 100%;

}

.site-header p {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    padding-left: 55px;
    padding-top: 4px;
    float: left;
}

.site-header p span {
    color: #30B99F;
    font-weight:bold;
}

.header-menu {
    list-style: none;
    float: right;
    padding-right: 55px;
    text-transform: uppercase;
}

.header-menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.header-menu li {
    display: inline-block;
    padding: 0 10px;
    font-weight: bold;
    font-size: 12px;
}

/*---------------------------------------------------------------
   big-chair-section
 --------------------------------------------------------------*/

.big-chair-section {
    background-color: #FAFAFA;
    background-image: linear-gradient(180deg, #FAFAFA, #D1D0D8);
    padding-top: 45px;
    padding-bottom: 20px;
}

.big-chair-section .column1 {
    width: 45%;
    float: left;
}

.big-chair-section .column2 {
    width: 40%;
    float: left;
    text-align: center;
}

.big-chair-section h1 {
    text-transform: uppercase;
    font-size: 30px;
    margin: 40px;
    font-weight: 500;
}

.big-chair-section p {
    font-size: 14px;
    font-weight: 500;
    color: #4D4D4D;
    line-height: 20px;
    margin: 20px;
}

.button {
    display: inline-block;
    background-color: #30B99F;
    border-radius: 5px;
    margin: 15px auto;
}

.button:hover {
    background-color: #6FABA9;
}

.see-more {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    display: inline-block;
    padding: 13px 35px;
}

.green-word-h1 {
    color: #30B99F;
    font-weight: bold;
}

.big-chair-section .cointainer {
    position: relative;
}

.less-greater-signs {
    font-size: 64px;
    color: #30B99F;
}

.less-than-sign {
    position: absolute;
    top: 35%;
    left:0;
}

.greater-than-sign {
    position: absolute;
    top: 35%;
    right: 0;
}


/*---------------------------------------------------------------
   chairs-section
 --------------------------------------------------------------*/

.chairs-section {
    background-color: white;
    padding-bottom: 58px;
    padding-top: 30px;
}

.chairs-section .column {
    width: 33.33%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.chairs-section .row {
    margin-left: -15px;
    margin-right: -15px;
}

.chairs-section-text {
    padding: 23px;
    border: 1px solid #DFDFDF;
}

.chairs-section-h2 {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 7px;
}

.chairs-section-h2::after {
    content: "";
    display: block;
    background-color: #30B99F;
    width: 120px;
    height: 5px;
    margin-top: 3px;
}

.chairs-section-p {
    font-size: 13px;
    margin-bottom: 22px;
    line-height: 17px;
    color: #979797;
    font-weight: 500;
}

.chairs-section-p:last-child {
    margin-bottom: 20px;
}

.chair-name {
    text-transform: uppercase;
}

.transparent-rectangle {
    background-color: rgba(255, 255, 255, 0.3);
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left:15px;
    padding: 15px 15px 23px;
}


/*---------------------------------------------------------------
   price-list-section
 --------------------------------------------------------------*/

.price-list-section .column {
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 33.33%;
}

.price-list-section .row:last-child {
    margin-right: -15px;
    margin-left: -15px;
}

.price-list-section {
    background-color: #F1F1F1;
    padding-top: 45px;
    padding-bottom: 66px;
}

.header-sections-h2 {
    text-transform: uppercase;
    color: #535353;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 44px;
}

.header-sections-h2::after {
    content: "";
    display: block;
    background-color: #30B99F;
    width: 320px;
    height: 7px;
    margin-top: 4px;
}

.price-tag {
    height: 497px;
    text-align: center;
    margin-top: 26px;
    background-color: #F9F9F9;
    border: 2px solid #D3D3D3;
    position: relative;
}

.circle-in-circle {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    position: absolute;
    top: -36px;
    left: 122px;
}

.circle-in-circle-grey {
    background-color: #C2C2C2;
    border-radius: 50%;
    border: solid 2px #D3D3D3;
    box-shadow: 0 0 0 13px #FFFFFF inset;
}

.circle-in-circle-green {
    background-color: #FFFFFF;
    border: solid 2px #30B99F;
    box-shadow: 0 0 0 13px #30B99F inset;
}

.price-tag h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-top: 33px;
    margin-bottom: 30px;
}

.green-font {
    color: #30B99F;
}

.white-font {
    color: #FFFFFF;
}

.circle-with-price {
    width: 128px;
    height: 128px;
    border-radius: 50%;

    margin-bottom: 32px;
    display: inline-block;
    padding-top: 25px;
    position: relative;
}

.grey {
    background-color: #FFFFFF;
    border: 2px solid #D3D3D3;
}

.green {
    background-color: #FFFFFF;
    border: 2px solid #30B99F;
    color: #30B99F;
}

.circle-with-price p {

    color: #C2C2C2;
    font-weight: bold;
}

.green p {
    color: #30B99F;
}
.circle-with-price p:first-child {
    font-size: 45px;
    margin-bottom: 7px;
    font-weight: 600;
    margin-left: -15px;
}

.circle-with-price p sup {
    font-size: 14px;
    position: absolute;
    top: 29px;
    left: 80px;
}

.circle-with-price p:last-child {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}

.options {
    font-size: 20px;
    padding: 8px 0;
    letter-spacing: 1px;
}

.grey-options {
    background-color: #E4E4E4;
    color: #939393;
}

.grey-light-options {
    background-color: #F1F1F1;
    color: #8A8A8A;
}

.grey-extralight-options {
    background-color: #FFFFFF;
    color: #8A8A8A;
}

.button1 {
    background-color: #30B99F;
    display: inline-block;
    border-radius: 7px;
    margin-top: 116px;
}

.button2 {
    background-color: #FFFFFF;
    display: inline-block;
    border-radius: 7px;
    margin-top: 78px;
}

.button3 {
    background-color: #30B99F;
    display: inline-block;
    border-radius: 7px;
    margin-top: 38px;
}

.button1:hover,
.button3:hover {
    -webkit-box-shadow: 0px 0px 24px -1px rgba(59,148,123,1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(59,148,123,1);
    box-shadow: 0px 0px 24px -1px rgba(59,148,123,1);
}

.button2:hover {
    -webkit-box-shadow: 0px 0px 24px -1px rgba(231,245,241,1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(231,245,241,1);
    box-shadow: 0px 0px 24px -1px rgba(231,245,241,1);
}

.join {
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 30px;
    letter-spacing: 1px;
}

.price-tag-green {
    background-color: #30B99F;
    border: 2px solid #30B99F;
}

.circle-with-price-green {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 2px solid #30B99F;
    margin-bottom: 32px;
    display: inline-block;
    padding-top: 25px;
    position: relative;
}


/*---------------------------------------------------------------
   form-section
 --------------------------------------------------------------*/

.form-section {
    background-color: white;
    padding: 35px 0;
}

.form-section .column1 {
    float: left;
    width: 60%;
}

.form-section .column2 {
    float: left;
    width: 40%;
    text-align: center;
}

.contact-form input,
.contact-form textarea {
    display: block;
    width: 600px;
    font-size: 27px;
    padding: 15px 10px;
    font-weight: 100;
    margin-bottom: 25px;
    border: 1px solid #B2E5D8;
    letter-spacing: 1px;
}

::-webkit-input-placeholder {
    color: #CECECE;
}

textarea {
    height: 187px;
    resize: none;
}

.red-chair {
    display: inline-block;
    margin-top: -25px;
    width: 246px;
}

#agreement {
    display: inline-block;
    margin-top: 35px;
    margin-left: 45px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #C2C2C2;
    text-align: left;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label span {
    vertical-align: middle;
    display: inline-block;
    float: left;
    width: 48px;
    height: 48px;
    border: 1px solid #B2E5D8;
    background: url("../images/form_ok.jpg") no-repeat;
    background-position: -3px;
    margin-right: 14px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label span {
    background-image: url("../images/form_ok.jpg");
}

.button-send {
    background-color: #30B99F;
    padding: 20px;
    border-radius: 7px;
    height: 70px;
    width: 315px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 35px;
}

.button-send:hover {
    background-color: #6FABA9;
}

.send {
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: white;
}


/*---------------------------------------------------------------
   footer
 --------------------------------------------------------------*/

.site-footer {
    background-color: white;
    position: relative;
    padding: 30px;
}

.site-footer p {
    color: #A4A4A4;
    font-size: 15px;
    letter-spacing: 1px;
    float: left;
}

.site-footer span {
    font-weight: bold;
}

.logo-footer {
    color: #9A9A9A;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    text-align: right;
}

.footer-images {
    position: absolute;
    top: 22px;
    right: 400px;
}

